.header {
  background-image: radial-gradient(
                  rgba($color-white,0.7),
                  rgba($color-light-grad, 0.7)),
  url("../images/3-stacked-soap-bar-comp.jpg");
  background-size: cover;
  background-position: top;
  grid-column: full-start / col-end 6;
}