.header {
  background-image: linear-gradient(
                  rgba($color-light-grad, 0.93),
                  rgba($color-light-grad, 0.93)),
  url("../images/soapbar-lemon.jpg");
  background-size: cover;
  background-position: center;
  grid-column: full-start / col-end 6;
  padding: 8rem;
  padding-top: 4rem;

  display: grid;
  grid-template-rows: min-content min-content 6rem 1fr;
  grid-template-columns: max-content;
  grid-row-gap: 2rem;
  justify-content: center;


  &__logo {
    height: 15rem;
    justify-self: center;
  }

  &__btn {
    justify-self: start;
    align-self: start;

  }

  &__atyourservice-text {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: $color-gray-dark-1;
  }

  &__atyourservice-logos {
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;


    &-container {

      display: flex;
      flex-direction: column;
      align-items: center;

      i {
        font-size: 2rem;
        align-self: center;
        color: $color-primary;
      }
    }

  }

}
