.header {
  background-image: radial-gradient(
                  rgba($color-white,0.8),
                  rgba($color-light-grad, 0.8)),
  url("../images/soapbar-lemon.jpg");
  background-size: cover;
  background-position: top;
  grid-column: full-start / col-end 6;
}
