.products {
  grid-column: center-start / center-end;
  margin: 15rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
}

.product {
  background: radial-gradient(rgba($color-white, 0.8), rgba($color-light-grad, 0.8));

  &__img {
    width: 100%;
  }


}