.story {
  &__pictures {
    background-color: $color-primary;
    grid-column: full-start / col-end 4;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6,1fr);
    align-items: center;
  }

  &__img--1{
    width: 100%;
    grid-row: 2 / 6;
    grid-column: 2 / 6;
  }

  &__img--2{
    width: 100%;
    grid-row: 4 / 6;
    grid-column: 4 / 7;
  }

  &__img--3{
    width: 100%;
  }

  &__content {
    background-image: radial-gradient(rgba($color-white, 0.8), rgba($color-light-grad, 0.8));
    grid-column: col-start 5 / full-end;
    padding: 6rem 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}