.top-products {
  background: radial-gradient($color-secondary, $color-light-grad);
 grid-column: col-start 7 / full-end;
 padding: 3rem;

 display: grid;
 align-content: center;
 justify-content: center;
 justify-items: center;
 grid-row-gap: 2rem;

 &__list {
  display: grid;
  align-items: center;
  grid-template-columns: min-content max-content;
  grid-column-gap: 2rem;
  grid-row-gap: 5vh;
  
 }

 &__img {
    width: 20rem;
    border-radius: 2%;
    // display: block;
 }

 &__rating {

  color: $color-primary;



 }
}