%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
  font-size: 5rem;
  color: $color-gray-dark-1;
  line-height: 1;
}

.heading-2 {
  @extend %heading;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;

  &--light {
    color: $color-gray-light-1;
  }

  &--dark {
    color: $color-gray-dark-1;
  }
}

.heading-3 {
  @extend %heading;
  font-size: 1.6rem;
  color: $color-primary;
  text-transform: uppercase;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;

  &--light {
    color: $color-gray-light-1;
  }

  &--dark {
    color: $color-gray-dark-1;
  }
}

.btn {
  &,
  &:link,
  &:visited {
    font-family: $font-display;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    position: relative;
    transition: all .2s;
    display: inline-block;
  text-decoration: none;
  }
  border: none;
  cursor: pointer;


  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
  }

  &::after {
    display: inline-block;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s

  }

  &--primary{
    background-color: $color-primary;
    color: $color-gray-light-1;

    &::after {
      background-color: rgba($color-primary-light, .8);
    }
  }
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg{
  margin-bottom: 8rem;
}